/* LPV Overrides */

/* CSS */
@import '../../../node_modules/lichess-pgn-viewer/scss/lichess-pgn-viewer';

.lpv-board {
  max-width: 600px;
  --board-color: #886f46;
  font-family: 'Noto Sans', 'sans-serif';
}

