name: PR Validation

on:
  pull_request:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '24.x.x'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Validate formatting rules
        run: npm run prettier

      - name: Run tests
        run: npm test

      - name: Validate Project Build
        run: npm run build
